.rect {
	border: 1px solid #00fcf9;
}

.border {
	padding: 5px;
	border-style: solid;
	border-color: #00fcf9;
}

.row1 {
	border-width: 5px 0 0 5px;
	top: -5px;
	left: -5px;
}

.row2 {
	border-width: 5px 5px 0 0;
	top: -5px;
	right: -5px;
}

.col1 {
	border-width: 0 0 5px 5px;
	bottom: -5px;
	left: -5px;
}

.col2 {
	border-width: 0 5px 5px 0;
	bottom: -5px;
	right: -5px;
}

.fltdecarround {
	width: 15px;
	height: 15px;
	position: absolute;
}

.fltdecarroundleft {
	left: -1px;
	border-left: #00fcf9 2px solid;
}

.fltdecarroundtop {
	top: -1px;
	border-top: #00fcf9 2px solid;
}

.fltdecarroundright {
	right: -1px;
	border-right: #00fcf9 2px solid;
}

.fltdecarroundtop {
	top: -1px;
	border-top: #00fcf9 2px solid;
}

.fltdecarroundleft {
	left: -1px;
	border-left: #00fcf9 2px solid;
}

.fltdecarroundbottom {
	bottom: -1px;
	border-bottom: #00fcf9 2px solid;
}

.fltdecarroundbottom {
	bottom: -1px;
	border-bottom: #00fcf9 2px solid;
}

.fltdecarroundright {
	right: -1px;
	border-right: #00fcf9 2px solid;
}
.layui-badge-rim, .layui-colla-content, .layui-colla-item, .layui-collapse, .layui-elem-field, .layui-form-pane .layui-form-item[pane], .layui-form-pane .layui-form-label, .layui-input, .layui-layedit, .layui-layedit-tool, .layui-quote-nm, .layui-select, .layui-tab-bar, .layui-tab-card, .layui-tab-title, .layui-tab-title .layui-this:after, .layui-textarea {
	border-color: #00fcf9;
}