<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>{{.SystemTitle}}</title>
    <link rel="stylesheet" media="screen" href="/static/css/platform.css">
    <link rel="stylesheet" href="/static/css/zTreeStyle/zTreeStyle.css"/>
    <link rel="stylesheet" href="/static/layui/css/layui.css"/>
    <link rel="stylesheet" href="/static/css/border.css"/>
    <link rel="stylesheet" href="/static/css/table.css">
    <link rel="stylesheet" href="/static/css/formSelects-v4.css"/>
    <script src="/static/js/jquery-3.3.1.min.js"></script>
    <script src="/static/layui/layui.js"></script>
    <script src="/static/js/jquery.ztree.all.js"></script>
    <style>
        .borderdiv{
            border: 1px solid #00ccff;
            border-radius:5px;
            box-shadow:rgb(0,59,91) 0px 0px 20px inset;
            height: 60%;
            background: rgba(255,255,255,0.05);
            position:relative;
            margin: 20px;
        }
        .ztree li a {
            color: #65e0e3;
        }
        .layui-table-tool {
            background: transparent;
            border: 0px;
        }
        .ztree li a {
            color: #65e0e3;
        }
        .layui-table-tool {
            background: transparent;
            border: 0px;
        }
        /*下拉框样式*/
        .commontext {
            color: #65e0e3;
            font-size: 12px;
            height: 30px;
        }

        .layui-form-label {
            float: left;
            display: block;
            padding: 5px 15px;
            width: 80px;
            font-weight: 400;
            line-height: 20px;
            text-align: right;
        }

        .layui-form input {
            background-color: transparent;
            border-radius: 5px;
            color: white;
            height: 30px;
            border: 1px solid #00fcf9;
            background: transparent;
        }

        .layui-form-select dl {
            background-color: #2F4056;
        }

        .layui-form-select dl dd {
            color: white;
            background: #2F4056;
        }

        .layui-form-select dl dd:hover {
            background: #00ccff;
        }

        /*修改提示文字颜色 */
        input::-webkit-input-placeholder {
            color: white;
            font-size: 12px;
        }
        .layui-layer-page .layui-layer-content {
            background: #152f5b;
            color: #ffffff;
            border-top: 1px solid #6076ad;
            border-bottom: 1px solid #6076ad;
            border-left: 1px solid #6076ad;
            border-right: 1px solid #6076ad;
            border-radius: 5px;
        }
        .layui-input {
            background-color: transparent;
            color: #FFF;
            border: 1px solid #00fcf9;
            border-radius: 5px;
            height: 35px;
        }
        .btn-submit {
            border: 1px solid #00fcf9;
            width: 100%;
            height: 30px;
            line-height: 30px;
            background: #FFB800;
        }
        .xm-select-parent .xm-input {
            background: transparent;
        }
    </style>
</head>
<body>
<div style="width: 100%;background: url(/static/images/platform/index_bg.jpg) no-repeat; min-height: 100%">
    <!-- 顶部 -->
    {{template "platform/commons/header.html" .}}
    <div class="layui-row">
        <div class="layui-rol-md12" style="margin-bottom: 20px">
            <span style="color: #65e0e3; margin-left: 20px; font-size: 12px; ;">
                <a href="/platform/centerpage" style="color: #65e0e3;">个人中心</a>&nbsp;>&nbsp;员工管理
            </span>
        </div>
        <div class="layui-col-md4">
            <div class="borderdiv layui-row" style="padding: 20px 0px 20px 0px;">
                <div style="width: 100%;height: 40px;position: absolute;top: -25px;">
                    <div style="border-image: url(/static/images/img_titile_bg.png) 20 fill /14px stretch;width: 20%;height: 40px;margin: 0 auto;">
                        <div class="h-table" style="width: 100%;height: 100%;text-align: center;color: white;font-size: 1.2rem;">
                            <div class="h-cell">
                                组织架构
                            </div>
                        </div>
                    </div>
                </div>

                <div class="fltdecarround fltdecarroundleft fltdecarroundtop"></div>
                <div class="fltdecarround fltdecarroundtop fltdecarroundright "></div>
                <div class="fltdecarround fltdecarroundleft fltdecarroundbottom"></div>
                <div class="fltdecarround fltdecarroundbottom fltdecarroundright "></div>
                <div class="layui-row layui-col-space10" style="padding: 20px">
                    <button class="layui-btn layui-btn-xs" id="add-group" onclick="addOrg()"><i
                                class="layui-icon layui-icon-add-1"></i>添加
                    </button>
                    <button class="layui-btn layui-btn-xs" id="add-group" onclick="editOrg()"><i
                                class="layui-icon layui-icon-edit"></i>修改
                    </button>
                    <button class="layui-btn layui-btn-xs layui-btn-danger" id="delete-group" onclick="deleOrg()"><i
                                class="layui-icon layui-icon-delete"></i>删除
                    </button><br>
                    <ul id="treeDemo" class="ztree" style="margin-top: 20px;"></ul>
                </div>
            </div>
        </div>
        <div class="layui-col-md8">
            <div class="borderdiv layui-row" style="padding: 20px 0px 20px 0px;">
                <div style="width: 100%;height: 40px;position: absolute;top: -25px;">
                    <div style="border-image: url(/static/images/img_titile_bg.png) 20 fill /14px stretch;width: 14%;height: 40px;margin: 0 auto;">
                        <div class="h-table" style="width: 100%;height: 100%;text-align: center;color: white;font-size: 1.2rem;">
                            <div class="h-cell">
                                权限管理
                            </div>
                        </div>
                    </div>
                </div>

                <div class="fltdecarround fltdecarroundleft fltdecarroundtop"></div>
                <div class="fltdecarround fltdecarroundtop fltdecarroundright "></div>
                <div class="fltdecarround fltdecarroundleft fltdecarroundbottom"></div>
                <div class="fltdecarround fltdecarroundbottom fltdecarroundright "></div>

                <table id="userList" lay-filter="userList"></table>
            </div>
        </div>
    </div>

</div>
<script type="text/html" id="toolbar">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm" lay-event="add">添加</button>
        <button class="layui-btn layui-btn-warm layui-btn-sm" lay-event="edit">修改</button>
        <button class="layui-btn layui-btn-danger layui-btn-sm" lay-event="del">删除</button>
    </div>
</script>
<script type="text/javascript">
    layui.config({
        base:'/static/js/'
    }).extend({
        formSelects:'formSelects-v4'
    });
</script>
<script>
    var jurs = ["着装监控","烟雾监测","火焰监测","区域入侵","离岗监测","睡岗监测","泄漏监测","设备管理","成员管理","短信通知"];

    layui.use(['element','layer','form','transfer','table','formSelects'], function() {
        var layer = layui.layer;
        var form = layui.form;
        var table = layui.table;
        var formSelects = layui.formSelects;

        table.render({
            elem: '#userList',
            method: "post",
            data: [],
            page: true,
            toolbar: "#toolbar",
            limits : [10],
            defaultToolbar: '',
            cellMinWidth: 80,
            loading: false,
            cols: [
                [{
                    checkbox: true
                },
                    {
                        field: 'Name',
                        title: '员工姓名',
                        align: 'center',
                        width : 200

                    },
                    {
                        field: 'Acount',
                        title: '用户名',
                        align: 'center',
                        width : 200
                    },
                    {
                        field: 'Mobile',
                        title: '手机号码',
                        align: 'center',
                        templet: function (d) {
                            return '<span>'+d.Tele+'</span>';
                        }
                    },
                    {
                        field: 'Organize',
                        title: '组织架构',
                        align: 'center',
                        templet: function (d) {
                            return '<span>'+d.Organize.Name+'</span>';
                        }
                    },
                    {
                        field: 'Jurisdiction',
                        title: '权限',
                        align: 'center',
                        templet: function (d) {
                            var str = d.Jurisdiction;
                            str = str.split(',');
                            var txt = "";
                            // for (let s in str) {
                            for(var s=0;s<str.length;s++ ){
                                if (str[s].length>0){
                                    txt += jurs[Number(str[s])] + " ";
                                }
                            }
                            return '<span>'+txt+'</span>';
                        }
                    }
                ]
            ],
            parseData: function (res) {

                return {
                    "code": res.Ret, //解析接口状态
                    "data": res.Reason, //解析数据列表
                    "count": res.Num
                }
            }
        });

        table.on("toolbar(userList)",function (obj) {
            var checkStatus = table.checkStatus(obj.config.id);
            switch (obj.event) {
                case 'add':
                    var treeObj = $.fn.zTree.getZTreeObj("treeDemo");
                    var nodes = treeObj.getSelectedNodes();
                    if (nodes.length > 0) {

                        form.val('formUser',{
                            "member_id":"",
                            "member_code":"0",
                            "member_name":"",
                            "member_user":"",
                            "member_tele":"",
                            "member_pass":"",
                            // "number":"",
                            "email":"",
                        })

                        formSelects.value("jur",[])

                        layer.open({
                            type: 1,
                            title: "",
                            area: ['700px','550px'],
                            offset: 'auto',
                            content: $("#roleview"),
                            cancel: function(index, layero) {
                                layer.close(index);
                                $("#roleview").addClass("layui-hide");
                            },
                            success: function(index, lavero) {
                                $("#roleview").removeClass("layui-hide");
                                $("#member_organizeId").val(nodes[0].id)
                            }
                        });

                    } else {
                        layer.alert("请先选择组织");
                    }

                    break;
                case 'edit':
                    if (checkStatus.data.length != 1) {
                        layer.open({
                            title: '温馨提示',
                            content: '请选择单条数据操作'
                        });
                    } else {


                        layer.open({
                            type: 1,
                            title: "",
                            area: ['700px','550px'],
                            offset: 'auto',
                            content: $("#roleview"),
                            cancel: function(index, layero) {
                                layer.close(index);
                                $("#roleview").addClass("layui-hide");
                            },
                            success: function(index, lavero) {
                                $("#roleview").removeClass("layui-hide");

                                var jsObject = checkStatus.data;
                                console.log(JSON.stringify(jsObject));
                                form.val('formUser',{
                                    "member_organizeId":jsObject[0].OrganizeID,
                                    "member_id":jsObject[0].ID,
                                    "member_code":"1",
                                    "member_name":jsObject[0].Name,
                                    "member_user":jsObject[0].Acount,
                                    "member_tele":jsObject[0].Tele,
                                    "member_pass":"",
                                    // "number":jsObject[0].Number,
                                    "email":jsObject[0].Email,
                                    "type":jsObject[0].Type
                                });
                                var jurs = jsObject[0].Jurisdiction;

                                if (jurs == "" || jurs == null) {
                                    jurs = [];
                                }else{
                                    jurs = jurs.split(",");
                                }

                                formSelects.value("jur",jurs)
                            }
                        });

                    }
                    break;
                case 'del':
                    // if (checkStatus.data.length != 1) {
                    //     layer.open({
                    //         title: '温馨提示',
                    //         content: '请选择单条数据操作'
                    //     });
                    // } else {
                        var jsObject = checkStatus.data;
                    var ids = "";
                    for (var i = 0; i < jsObject.length; i++) {
                        ids += jsObject[i].ID + ",";
                    }
                        layer.open({
                            title: "删除",
                            content: "确认删除该成员",
                            btn: ["确认","取消"],
                            yes :function(index, layero){
                                $.ajax({
                                    url: '/platform/delOrgUser',
                                    method: 'post',
                                    data: {"member_id": ids},
                                    dataType: 'JSON',
                                    success: function (res) {
                                        if (res.Ret == "1") {
                                            updateUserList();
                                            layer.closeAll()
                                        } else {
                                            layer.alert(res.Reason);
                                        }
                                    },
                                    error: function (data) {
                                        layer.alert("服务器连接异常");
                                    }
                                });
                            },
                            btn2  :function(index, layero){
                                layer.close(index);
                            }
                        });
                    // }
                    break;
            }
        });

        form.on('submit(organize)',function (data) {

            var url = "/platform/saveOrganize";
            if (data.field.code != "0"){
                url = "/platform/editOrganize";
            }

            $.ajax({
                url:url,
                method: "post",
                dataType: "json",
                data: data.field,
                success: function(res){
                    if (res.Ret == "1") {
                        getTreeList();
                        layer.closeAll();
                    }else {
                        layer.alert(res.Reason);
                    }
                },
                error: function (data) {
                    layer.alert("服务器连接异常");
                }
            })
        });
        form.on('submit(user)',function (data) {
            var url = "/platform/saveOrgUser";
            if (data.field.member_code != "0"){
                url = "/platform/editOrgUser";
            }

            var password = data.field.member_pass;
            // var testPassword = /^(?![a-zA-Z]+$)(?![A-Z0-9]+$)(?![A-Z\W_!@#$%^&*`~()-+=]+$)(?![a-z0-9]+$)(?![a-z\W_!@#$%^&*`~()-+=]+$)(?![0-9\W_!@#$%^&*`~()-+=]+$)[a-zA-Z0-9\W_!@#$%^&*`~()-+=]{12}$/;
            // if (password != "" && testPassword.test(password) == false) {
            //     layer.alert("错误提示： 平台密码必须强制设置12位，包括大小写字母、数字、特殊符号！");
            //     return;
            // }
            $.ajax({
                url:url,
                method: "post",
                dataType: "json",
                data: data.field,
                success: function(res){
                    if (res.Ret == "1") {
                        updateUserList();
                        layer.closeAll();
                    }else {
                        layer.alert(res.Reason);
                    }
                },
                error: function (data) {
                    layer.alert("服务器连接异常");
                }
            })

        })

    });
    organizationAddHtml = '<div style="width: 100%;" id="organizeAddView" data_type="0">\n' +
        '\t\t<form lay-filter="formOrganize" class="layui-form" style="margin: 0 20px;">\n' +
        '\t\t\t<input id="organize_id" name="organize_id" class="layui-hide" />\n' +
        '\t\t\t<input id="pname" name="pname" class="layui-hide" />\n' +
        '\t\t\t<input id="organize_pId" name="organize_pId" class="layui-hide" />\n' +
        '\t\t\t<input id="plevel" name="plevel" class="layui-hide" />\n' +
        '\t\t\t<input id="code" name="code" class="layui-hide" value="0" />\n' +
        '\t\t\t<div style="width: 100%;height: 38px; line-height: 38px;margin: 10px auto;">\n' +
        '\t\t\t\t<div class="layui-row">\n' +
        '\t\t\t\t\t<div class="layui-col-md4 layui-col-lg4" style="text-align: right;padding-right: 20px;">\n' +
        '\t\t\t\t\t\t<span>组织名称</span>\n' +
        '\t\t\t\t\t</div>\n' +
        '\t\t\t\t\t<div class="layui-col-md8 layui-col-lg8">\n' +
        '\t\t\t\t\t\t<input id="organize_name" name="organize_name" class="layui-input" type="text" placeholder="请输入组织名称" lay-verify="required" />\n' +
        '\t\t\t\t\t</div>\n' +
        '\t\t\t\t</div>\n' +
        '\t\t\t</div>\n' +
        '\t\t\t<div style="width: 100%;height: 38px; line-height: 38px;margin: 10px auto;">\n' +
        '\t\t\t\t<div class="layui-row">\n' +
        '\t\t\t\t\t<div class="layui-col-md4 layui-col-lg4" style="text-align: right;padding-right: 20px;">\n' +
        '\t\t\t\t\t\t<span>联系电话</span>\n' +
        '\t\t\t\t\t</div>\n' +
        '\t\t\t\t\t<div class="layui-col-md8 layui-col-lg8">\n' +
        '\t\t\t\t\t\t<input id="phone" name="phone" class="layui-input" type="text" placeholder="请输入联系电话" lay-verify="required" />\n' +
        '\t\t\t\t\t</div>\n' +
        '\t\t\t\t</div>\n' +
        '\t\t\t</div>\n' +
        '\t\t\t<div style="text-align: center;margin:50px;">\n' +
        '\t\t\t\t<button type="button" class="layui-btn" lay-submit lay-filter="organize">保存</button>\n' +
        '\t\t\t\t<button type="button" class="layui-btn" onclick="cancel()">取消</button>\n' +
        '\t\t\t</div>\n' +
        '\t\t</form>\n' +
        '\t</div>';

    function cancel(){
        layer.closeAll();
    }

    function addOrg() {
        var treeObj = $.fn.zTree.getZTreeObj("treeDemo");
        var nodes = treeObj.getSelectedNodes();
        if (nodes.length>0) {
            var node=nodes[0];
            if (node.Level >3) {

            } else {
                layer.open({
                    type: 1,
                    title: "添加",
                    area: 'auto',
                    offset: 'auto',
                    content: organizationAddHtml,
                    cancel: function(index, layero) {
                        layer.close(index);
                    },
                    success: function(index, lavero) {
                        $("#plevel").val(node.Level);
                        $("#organize_pId").val(node["id"]);
                        $("#pname").val(node["name"]);
                    }
                });
            }


        }else{
            layer.alert("请先选择组织");
        }



    }

    function editOrg(){
        var treeObj = $.fn.zTree.getZTreeObj("treeDemo");
        var nodes = treeObj.getSelectedNodes();

        if (nodes.length > 0 && Number(nodes[0].Level)<5 ) {
            var node=nodes[0];
            var id = node["id"]
            layer.open({
                type: 1,
                title: "修改",
                area: 'auto',
                offset: 'auto',
                content: organizationAddHtml,
                cancel: function(index, layero) {
                    layer.close(index);
                },
                success: function(index, lavero) {
                    $("#code").val(1);
                    $("#organize_id").val(id)
                    $("#organize_name").val(node["name"]);
                    $("#phone").val(node["phone"]);
                }
            });
        } else {
            layer.alert("请先选择组织");
        }
    }

    function deleOrg() {
        var treeObj = $.fn.zTree.getZTreeObj("treeDemo");
        var nodes = treeObj.getSelectedNodes();

        if (nodes.length > 0 && Number(nodes[0].Level)<5) {
            layer.open({
                title: "删除",
                content: "确认删除该组织",
                btn: ["确认","取消"],
                yes :function(index, layero){
                    $.ajax({
                        url: '/platform/delOrganize',
                        method: 'post',
                        data: {"id": nodes[0].id},
                        dataType: 'JSON',
                        success: function (res) {
                            if (res.Ret == "0") {
                                layer.alert(res.Reason);
                            } else {
                                console.log("nodes:" + JSON.stringify(nodes[0]));
                                treeObj.removeNode(nodes[0]);

                                var node = treeObj.getNodesByParam("pId", nodes.pId, null);
                                console.log("pNodes:" + JSON.stringify(node));
                                layui.table.reload("userList");

                                layer.close(index);

                            }


                        },
                        error: function (data) {
                            layer.alert("服务器连接异常");
                        }
                    });
                },
                btn2  :function(index, layero){
                    layer.close(index);
                }
            });

        } else {
            layer.alert("请先选择组织");
        }
    }
    function updateUserList() {
        var zTree = $.fn.zTree.getZTreeObj("treeDemo");
        var treeNode = zTree.getSelectedNodes();
        if (treeNode.length > 0) {

            //更新列表用户
            layui.table.reload('userList', {
                url: "/platform/selUserForOrg",
                where: {
                    "organize_id": treeNode[0].id,
                }
            });
        }
    }

    function getTreeList() {

        $.ajax({
            url: '/platform/selorgforadminid',
            method: 'post',
            data: "",
            dataType: 'JSON',
            success: function (res) {
                if(res.Code == "1"){
                    var list = res.Reason;
                    // for (let i in list){
                    for(var i=0;i<list.length;i++ ){
                        // console.log(list[i]);
                        list[i]["id"] = list[i]["ID"];
                        list[i]["pId"] = list[i]["PID"];
                        list[i]["name"] = list[i]["Name"];
                        list[i]["phone"] = list[i]["Phone"];
                    }

                    $.fn.zTree.init($("#treeDemo"), setting, list);
                }else{
                    layer.alert(res.Reason);
                }
            },
            error: function (data) {
                layer.alert("服务器连接错误");
            }
        });
    }

    var setting = {
        view: {
            dblClickExpand: false,
            showLine: false,
            selectedMulti: false
        },
        data: {
            keep: {
                parent: true
            },
            simpleData: {
                enable: true
            }
        },
        callback: {
            onClick: function (event, treeId, treeNode) {
                var Level = treeNode.Level
                if(Number(Level)<5){
                    updateUserList();
                }

            }
        }
    }

    getTreeList();


</script>

</body>
<div style="padding-top: 20px; box-shadow:rgb(0,59,91) 0px 0px 20px inset;" class="layui-hide" id="roleview" >
    <div class="borderdiv layui-row" style="padding: 20px 0px 20px 0px;">
        <div style="width: 100%;height: 40px;position: absolute;top: -25px;">
            <div style="border-image: url(/static/images/img_titile_bg.png) 14 fill /10px stretch;width: 14%;height: 40px;margin: 0 auto;">
                <div class="h-table" style="width: 100%;height: 100%;text-align: center;color: white;font-size: 1.2rem;">
                    <div class="h-cell">
                        员工管理
                    </div>
                </div>
            </div>
        </div>

        <div class="fltdecarround fltdecarroundleft fltdecarroundtop"></div>
        <div class="fltdecarround fltdecarroundtop fltdecarroundright "></div>
        <div class="fltdecarround fltdecarroundleft fltdecarroundbottom"></div>
        <div class="fltdecarround fltdecarroundbottom fltdecarroundright "></div>
        <form class="layui-form" lay-filter="formUser" style="margin: 0 20px;">
            <input id="member_organizeId" name="member_organizeId" type="text" class="layui-hide" />
            <input id="member_id" name="member_id" type="text" class="layui-hide" />
            <input id="member_code" name="member_code" type="text" value="0" class="layui-hide" />
            <div style="width: 100%;height: 38px; line-height: 38px;margin: 10px auto;">
                <div class="layui-row">
                    <div class="layui-col-md4 layui-col-lg4" style="text-align: right;padding-right: 20px;">
                        <span>用户名称</span>
                    </div>
                    <div class="layui-col-md8 layui-col-lg8">
                        <input class="layui-input" name="member_name" type="text" placeholder="请输入员工名称" lay-verify="required"/>
                    </div>
                </div>
            </div>
            <div style="width: 100%;height: 38px; line-height: 38px;margin: 10px auto;">
                <div class="layui-row">
                    <div class="layui-col-md4 layui-col-lg4" style="text-align: right;padding-right: 20px;">
                        <span>联系号码</span>
                    </div>
                    <div class="layui-col-md8 layui-col-lg8">
                        <input class="layui-input" name="member_tele" type="text" placeholder="请输入手机号码" lay-verify="required"/>
                    </div>
                </div>
            </div>
            <div style="width: 100%;height: 38px; line-height: 38px;margin: 10px auto;">
                <div class="layui-row">
                    <div class="layui-col-md4 layui-col-lg4" style="text-align: right;padding-right: 20px;">
                        <span>登录账号</span>
                    </div>
                    <div class="layui-col-md8 layui-col-lg8">
                        <input class="layui-input" name="member_user" type="text" placeholder="请输入登录账号" lay-verify="required"/>
                    </div>
                </div>
            </div>
            <div style="width: 100%;height: 38px; line-height: 38px;margin: 10px auto;">
                <div class="layui-row">
                    <div class="layui-col-md4 layui-col-lg4" style="text-align: right;padding-right: 20px;">
                        <span>登录密码</span>
                    </div>
                    <div class="layui-col-md8 layui-col-lg8">
                        <input class="layui-input" name="member_pass" type="password" lay-verify="member_pass" placeholder="请输入登录密码" />
                    </div>
                </div>
            </div>
            <div style="width: 100%;height: 38px; line-height: 38px;margin: 10px auto;">
                <div class="layui-row">
                    <div class="layui-col-md4 layui-col-lg4" style="text-align: right;padding-right: 20px;">
                        <span>账号类型</span>
                    </div>
                    <div class="layui-col-md8 layui-col-lg8">
                        <select id="type" name="type" class="layui-select">
                            <option value="1" selected>普通类型</option>
                            <option value="2">管理类型</option>
                        </select>
                    </div>
                </div>
            </div>
            <div style="width: 100%;height: 38px; line-height: 38px;margin: 10px auto;">
                <div class="layui-row">
                    <div class="layui-col-md4 layui-col-lg4" style="text-align: right;padding-right: 20px;">
                        <span>权限分配</span>
                    </div>
                    <div class="layui-col-md8 layui-col-lg8">
                        <select id="jur" name="jur" class="layui-select" xm-select="jur" lay-filter="jur">
                            <option value="0">着装监控</option>
                            <option value="1">烟雾监测</option>
                            <option value="2">火焰监测</option>
                            <option value="3">区域入侵</option>
                            <option value="4">离岗监测</option>
                            <option value="5">睡岗监测</option>
                            <option value="7">设备管理</option>
                            <option value="8">成员管理</option>
                            <option value="9">短信通知</option>
                        </select>
                    </div>
                </div>
            </div>
            <div style="text-align:center; margin:70px auto 50px auto;">
                <button type="button" class="layui-btn" lay-submit lay-filter="user">保存</button>
                <button type="button" class="layui-btn" onclick="cancel()">取消</button>
            </div>
        </form>

    </div>
</div>

</html>